<h2>User info違う</h2>
<%= form_for(@user, url:"/users/#{@user.id}") do |f| %>

<img class="attachment user profile_image" src="画像" alt="Profile image">
<table class="table">
      <tbody><tr></tr> 
      <tr>
    	  <th>name</th>
    	  <th><%= user_name %></th>
      </tr>
      <tr>
    	  <th>introduction</th>
    	  <th><%= text %></th>
      </tr>
</tbody></table>
<div class="row">
  <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_15587" href="/users/edit"></a>
</div>

