<%= render 'layouts/sidebar' %>
<div class="col-sm-9">
<h2>Users</h2>
    <table class="table table-hover table-inverse">
      <tr>
        <th class="col-md-2 table-noborder">image</th>
        <th class="col-md-3 table-noborder">name</th>
        <th class="col-md-3 table-noborder"></th>
        <th class="col-md-2 table-noborder"></th>
        <th class="col-md-2 table-noborder"></th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td>
  　　　　　<%= attachment_image_tag user, :profile_image, size:'50x50' %>
          </td>
          <td>
            <%= user.name %>
          </td>
          <td>
          <%= link_to "Show", user_path(user.id) %>
          </td>
        </tr>
      <% end %>
    </table>
    </div>
  </div>
  </div>
</div>
