<h2>User infoあ</h2>
<%= form_for(@user, url:"/users/#{@user.id}") do |f| %>
 <h5>Name</h5>
 <%= f.text_field :name %>
 <h5>Image</h5>
 <input class="user_image" data-reference="89a69c5c16b9a9e88916c6c804606f13" include_hidden="false" type="file" name="user[profile_image]" id="user_profile_image">
 <div class="user-edit-image">
    </div>
    <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
<h5>Introduction</h5>
<%= f.text_field :introduction %>
<%= f.submit 'Update User' %>
<% end %>